<!-- <form>
  <input type="text" placeholder="Search By Location">
  <button>Go</button>
</form> -->

<!-- <div class="results">
  <% @listings.each do |listing|  %>
    <ul>
      <li>Unit: <%= listing.unit_number %></li>
      <li>Unit Type: <%= listing.unit_type %></li>
      <li><%= listing.sq_feet %> Sq Feet</li>
      <li><%= listing.rent_cost %></li>
      <li><%= listing.availability %></li>
      <li>Source: <%= listing.source %></li>
    </ul>
  <% end %>
</div> -->

Test App