<% if flash[:notice] %>
  <div class="notice" style="color: red"><strong><%= flash[:notice] %></strong></div>
<% end %>
<br>
DON'T TOUCH THESE BUTTONS UNLESS YOU KNOW WHAT THEY'RE FOR. OTHERWISE YOU WILL RUIN DATABASE.
<br><br>
<%= link_to "Scrape Data", scrape_data_path, data: {confirm: "Are you sure? Clicking this may duplicate data if you've already scraped it once."} %>
<br><br>
<%= link_to "Find and Add new Data", findNewData_path %> // Do this daily
<br><br>
<%= link_to "Scrapes rent and add a new day only to existing listings", scrape_day_path %> // Do this daily
<br><br>
<%= link_to "Check Availability Status", check_availability_path %> // Do this daily
<br><br>
<%= link_to "Add Totals to DB", saveDailyTotals_path %> // Do this daily
