<div class="tab">
  <button class="tablinks" onclick="showData(event, 'chartA')">Chart A</button>
  <button class="tablinks" onclick="showData(event, 'chartB')">Chart B</button>
  <button class="tablinks" onclick="showData(event, 'chartC')">Chart C</button>
</div>

<div id="chartA" class="tabcontent">
  <% @locations.each do |location|  %>
    <h3><%= location.city_state %></h3>
    <table id="location_data">
      <tr>
        <th>Property</th>
        <th>Unit Type</th>
        <th>Floor Plan</th>
        <th>Unit #</th>
        <th>SF</th>
        <th>Status</th>
        <% location.get_unique_dates.each do |day| %>
          <th><%= day.date %></th>
        <% end %>
      </tr>
      <% @listings.each do |listing| %>
        <tr>
          <td><%= listing.source %></td>
          <td><%= listing.unit_type %></td>
          <td><%= listing.floorplan %></td>
          <td><%= listing.unit_number %></td>
          <td><%= listing.sq_feet %></td>
          <td><%= listing.availability %></td>
          <% listing.days.each do |day| %>
            <td><%=day.rent %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %> <%#= locations %>
</div>

<div id="chartB" class="tabcontent">
  <br>
  <table class="chartB">
    <tr>
      <th>Floor Plan</th>
      <th>Total</th>
      <th>Vacant</th>
      <th>Vacant %</th>
      <th>Available</th>
      <th>Available %</th>
      <th>Exposure</th>
      <th>Exposure %</th>
      <th>Minimum</th>
      <th>Maximum</th>
      <th>Average</th>
    </tr>
    <% Listing.by_floorplan.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <% Listing.total_by_floorplan.each do |unitNum, unit_total|%>
          <% if unitNum == key %>
            <td><%= unit_total %></td>
          <% end %>
        <% end %>
        <% Listing.vacant_num.each do |unit, vac_total| %>
          <% if unit == key %>
            <td><%= vac_total %></td>
          <% end %>
        <% end %>
        <% Listing.calc_vacantPct.each do |k, vac_percent| %>
          <% if k == key %>
            <td><%= vac_percent %></td>
          <% end %>
        <% end %>
        <% Listing.calc_availNum.each do |x, avail_num| %>
          <% if x == key %>
            <td><%= avail_num %></td>
          <% end %>
        <% end %>
        <% Listing.calc_availPct.each do |z, avail_pct| %>
          <% if z == key %>
            <td><%= avail_pct %></td>
          <% end %>
        <% end %>
        <% if value != 0 %>
          <td><%= value.count %></td>
        <% else %>
          <td>0</td>
        <% end %>
        <% Listing.exposure_pct.each do |a, exp_pct| %>
          <% if a == key %>
            <td><%= exp_pct %></td>
          <% end %>
        <% end %>
        <% Listing.calcMin.each do |b, min_rent| %>
          <% if b == key %>
            <td>$<%= min_rent %></td>
          <% end %>
        <% end %>
        <% Listing.calcMax.each do |c, max_rent| %>
          <% if c == key %>
            <td>$<%= max_rent %></td>
          <% end %>
        <% end %>
        <% Day.calcAvg.each do |d, avg_rent| %>
          <% if d == key && avg_rent != [] %>
            <td><%= "$" + "#{avg_rent}" %></td>
          <% elsif d == key && avg_rent == [] %>
            <td><%= "0" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td>Total</td>
      <td><%= Listing.calc_totalUnits %></td>
      <td><%= Listing.calc_totalVacantNum %></td>
      <td><%= Listing.calc_ttlVacantPct + "%" %></td>
      <td><%= Listing.totalAvailNum %></td>
      <td><%= Listing.availPct + "%" %></td>
      <td><%= Listing.exposureTtl %></td>
      <td><%= Listing.ttlExpPct + "%" %></td>
    </tr>
  </table>
</div>

<div class="tabcontent" id="chartC">
<br>
<table class="chartC">
  <% DailyData.all.each do |data| %>
    <th><%= data.date %></th>
    <tr><td>Occupancy: <%= data.occupancy %></td></tr>
    <tr><td>Leased: <%= data.leased %></td></tr>
  <% end %>
</table>
</div>

<script type="text/javascript" charset="utf-8">
  function showData(evt, chartName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(chartName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
