<% @locations.each do |location|  %>
  <h3><%= location.city_state %></h3>
  <% location.listings.each do |listing| %>
      <strong>Unit: <%= listing.unit_number %></strong><br>
    <ul>
      <li>Unit Type: <%= listing.unit_type %></li>
      <li><%= listing.sq_feet %> Sq Feet</li>
      <li><%= listing.rent_cost %></li>
      <li><%= listing.availability %></li>
      <li>Source: <%= listing.source %></li>
    </ul>
  <% end %>
<% end %>