<% @locations.each do |location|  %>
  <h3><%= location.city_state %></h3>
  <table id="location_data">
    <tr>
      <th>Property</th>
      <th>Unit Type</th>
      <th>Floor Plan</th>
      <th>Unit #</th>
      <th>SF</th>
      <th>Status</th>
      <% location.get_unique_dates.each do |day| %>
        <th><%= day.date %></th>
      <% end %>
    </tr>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.source %></td>
        <td><%= listing.unit_type %></td>
        <td><%= listing.floorplan %></td>
        <td><%= listing.unit_number %></td>
        <td><%= listing.sq_feet %></td>
        <td><%= listing.availability %></td>
        <% listing.days.each do |day| %>
          <td><%=day.rent %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %> <%#= locations %>


